@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;


button {
    width: 8.3rem;
    height: 2.5rem;
    border-radius: 30px;
    border: none;
    margin: 0.2rem;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    color: $s-gray;
    background-color: $blue-idle;
    @include tablet {
        width: 16rem;
        height: 3.2rem;
        margin: 0.9rem;
        font-size: 1.6rem;
    }
    @include laptop {
        width: 12rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }

}
.start-game__page {
    background-color: $p-blue;
    padding: 1rem 1rem 11rem 1rem;
    @include tablet {
      padding-top: 5rem;
    }
    @include laptop {
        padding: 3rem 1rem 14rem 1rem;
    }
}
.page-title {
    font-size: 2rem;
    color: $s-gray;
    margin: 0 auto;
    padding: 6rem 2rem 2rem 2rem;
    @include tablet {
        font-size: 2.7rem;
    }
    @include laptop {
        font-size: 1.9rem;
        padding-bottom: 3.5rem;
    }
}

.page-content {
    background-color: $s-gray;
    border-radius: 10px;
    margin: 1rem 2rem 1.5rem 2rem;
    padding: 1rem 0rem 1.5rem 0rem;
    @include tablet {
        padding-top: 2rem;
        border-radius: 20px;
    }
    @include laptop {
        width: 50%;
        margin: auto;
        padding-top: 1.2rem;
        border-radius: 15px;
}
}

.page-labels {
    font-size: 1rem;
    color: $blue-labels;
    margin: 1rem;
    text-align: left;
    @include tablet {
        font-size: 1.3rem;
        margin-left: 4rem;
    }
    @include laptop {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 2.5rem;
    }
}
.button-players {
    padding: 0rem;
    width: 4.5rem;
    @include tablet {
        width: 7.4rem;
        height: 3.2rem;
        margin: 0.2rem 0.7rem 0.7rem 0.7rem;
    }
    @include laptop {
        width: 5.5rem;
        height: 2.3rem;
        margin: 0rem 0.6rem;
    }
}
.selected {
    background-color: $p-blue;
}
.button-grids {
    margin-top: 0.2rem;
}
.button-yellow {
    width: 16rem;
    margin-top: 2rem;
    background-color: $p-orange;
    @include tablet {
        width: 33.8rem;
        height: 4.3rem;
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-radius: 35px;
    }
    @include laptop {
        width: 25.5rem;
        height: 3rem;
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
    }
}