@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;

.solo-page__counter {
    display: flex;
    justify-content: space-around;
}
.counter-container {
    width: 151px;
    height: 70px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: $s-idle;
}
.counter-labels {
        font-size: 1rem;
        color: $blue-labels;
        margin-bottom: .5rem ;
        text-align: center;
}
.solo-counter {
    color: $p-blue;
    font-size: 1.8rem; 
}